src/main/mule/atm_transaction.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
    <http:listener-config name="atm_transaction-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8082" />
    </http:listener-config>
    <apikit:config name="atm_transaction-config" api="atm_transaction.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <db:config name="Database_Config" doc:name="Database Config" doc:id="5d74d0fa-2a51-45da-874e-516562f13c67" >
		<db:my-sql-connection host="localhost" port="3306" user="root" password="Zulfiya@13June" database="sys"/>
	</db:config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="f84f3c74-0dc0-45de-9e4f-cc8d504ee9db" >
		<http:request-connection host="localhost" port="8182" connectionIdleTimeout="80000"/>
	</http:request-config>
	<flow name="atm_transaction-main">
        <http:listener config-ref="atm_transaction-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="atm_transaction-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="atm_transaction-console">
        <http:listener config-ref="atm_transaction-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="atm_transaction-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="put:\unblock:application\json:atm_transaction-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  status: "Account xxxxx is unblocked"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\checkBalance:application\json:atm_transaction-config">      
		<flow-ref doc:name='"selecting the data from db"' doc:id="e974f472-64f8-46e6-b90a-1d8344dfafdb" name="createAccandcheckBal"/>
		<ee:transform doc:name="Transform Message" doc:id="4164201d-06b1-42d4-b816-51600f1ca09c" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
    "atmPin": payload[0].atmPin,
    "accountType": payload[0].accountType,
    "phoneNumber": payload[0].phoneNumber,
    "ifscCode": payload[0].ifscCode,
    "wrongPin": payload[0].wrongPin,
    "accountStatus": payload[0].accountStatus,
    "accountNum": payload[0].custAccNum,
    "mailId": payload[0].mailId,
    "pk": payload[0].pk,
    "bankName": payload[0].bankName,
    "transactionTimeStamp": payload[0].transactionTimeStamp,
    "totalBalance": payload[0].totalBalance,
    "custName": payload[0].custName,
    "branchName": payload[0].branchName
 }
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<choice doc:name="Choice" doc:id="da1d37e6-e559-40c7-b567-9a2aa59e7034" >
			<when expression="#[payload==null]">
				<ee:transform doc:name="Account doesn't exist" doc:id="114ddd62-465c-44ca-8934-2698ff0d2e4e" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
"Account" ++ vars.Original.accountNum ++ "doesn't exist"]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<when expression='#[payload !=null and payload.accountStatus=="Blocked"]'>
				<ee:transform doc:name="AcountStatus Blocked" doc:id="88382839-92cf-4d03-952e-afc49bfbe58b" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
"Account " ++ vars.Original.accountNum ++ " temporarly blocked. Please visit nearest Branch"]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<when expression="#[payload !=null and (payload.atmPin as String) !=vars.Original.atmPin]">
				<http:request method="POST" doc:name="Wrong Pin" doc:id="e29ff04a-945b-4a14-affa-aafce3384b09" config-ref="HTTP_Request_configuration" path="/api/checkBalance" responseTimeout="30000">
					<http:query-params ><![CDATA[#[%dw 2.0
output application/json
---
{
	"bank": vars.QParams.bank,
	"type": vars.QParams."type"
}]]]></http:query-params>
				</http:request>
			</when>
			<otherwise >
				<ee:transform doc:name='Correct Pin and AccountStatus "Active"' doc:id="79b03ee5-5a46-4134-a77a-74395cf94c08" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  status: "Your total balance is " ++ payload[0].totalBalance ++" as on  is " ++ payload[0].totalBalance
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</otherwise>
		</choice>
    </flow>
    <flow name="post:\createAccount:application\json:atm_transaction-config">
		<flow-ref doc:name='"Selecting the data from DB"' doc:id="c0a2ae3e-6b2e-4d8e-8bed-292be3d66f3b" name="createAccandcheckBal"/>
		<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="10755a5d-c1f8-46d0-8d15-a7232f076561">
            <ee:message>
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	
	"atmPin": vars.Original.atmPin,
	"accountNum": vars.Original.accountNum,
	"depositAmount": vars.Original.depositAmount,
	"mailId": vars.Original.mailId,
	"contact": vars.Original.contact
	
	
}]]></ee:set-payload>
            </ee:message>
			<ee:variables >
				<ee:set-variable variableName="Result" ><![CDATA[%dw 2.0
output application/json
var Result= if((payload[0])==null) "Insert" else "Exist"
---
Result]]></ee:set-variable>
			</ee:variables>
        </ee:transform>
		<flow-ref doc:name="Flow Reference" doc:id="d54f5319-ffe3-40ff-a545-bd4dd3f1f1d9" name="#[vars.Result]"/>
    </flow>
	<flow name="post:\withDraw:application\json:atm_transaction-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  status: "Amount xxxx is debited . Your total balance is xxxxxxxx"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
	<sub-flow name="Insert" doc:id="d6a34399-b084-4e22-bd2d-8d3847d4882b" >
		<http:request method="POST" doc:name="Request" doc:id="aefad776-407c-43be-a82c-39998cf2fa96" config-ref="HTTP_Request_configuration" path="/api/createAccount">
			<http:body ><![CDATA[#[vars.Original]]]></http:body>
			<http:query-params ><![CDATA[#[%dw 2.0
output application/json
---
{
 "customerName": vars.QParams.customerName,
	"bank": vars.QParams.bank,
	"type": vars.QParams."type",
	"branchName": vars.QParams.branchName
}]]]></http:query-params>
		</http:request>
	</sub-flow>
	<sub-flow name="Exist" doc:id="5f096928-554f-4e5c-bc56-7c99ab7e6169">
		<ee:transform doc:name="Transform Message" doc:id="cd3ed661-b064-4b7d-8e99-e67063da5136" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"status": vars.Original.accountNum ++ " Account already exists"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</sub-flow>
	<sub-flow name="QueryParams" doc:id="e90f44ab-4c7c-4cc5-91b9-5b5e4681a346" >
		<set-variable value='#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;	"customerName": attributes.queryParams.customerName,&#10;	"bank": attributes.queryParams.bank,&#10;	"type": attributes.queryParams."type",&#10;	"branchName": attributes.queryParams.branchName&#10;	&#10;}]' doc:name="Set Variable" doc:id="2587898b-efc6-4b96-a7eb-8bd7205c9fb1" variableName="QParams"/>
	</sub-flow>
	<sub-flow name="Original" doc:id="6550e2b7-8a3e-4e5c-b145-2549ae9066f3" >
	<set-variable value="#[payload]" doc:name="Set Variable" doc:id="54094d8e-f71f-4b2e-ab8b-7cacb02647e2" variableName="Original"/>
	</sub-flow>
</mule>
